[gcode_macro NOZZLE_PARK_BUCKET]
# Instructions: https://www.printables.com/model/796563-voron-24-silicone-nozzle-scrubber-w-sheet-stops-be
description: "Parks the nozzle over the bucket."

gcode:
    # ---------- Define variables ----------
    {% set brush_ref_x = 237.0 %}       # X coordinate of top-left brush corner
    {% set brush_ref_y = 304.5 %}       # Y coordinate of top-left brush corner
    {% set brush_width = 35.0 %}        # Width of brush (X dimension)
    {% set brush_depth = 7.0 %}         # Depth of brush (Y dimension)
    {% set bucket_side = "right" %}     # "right" or "left" relative to brush
    {% set bucket_offset = 10.0 %}      # Distance from brush to bucket
    {% set park_z = 5.0 %}              # Z height to park nozzle
    {% set travel_speed = 9000 %}       # XY travel speed (mm/min)
    {% set z_speed = 1500 %}            # Z-axis speed (mm/min)
    {% set do_qgl = False %}            # You should QGL in print_start.  Set to true if you plan on using this outside of print_start for safety. 

    # ---------- Safety checks. ----------
    {% if not printer.toolhead.homed_axes %}
        G28
    {% endif %}

    # Set do_qgl to false if using in print_start, otherwise you'll have multiple QGLs adding unnecessary delays to your print time.
    {% if do_qgl %}
        QUAD_GANTRY_LEVEL
        G28 Z ; good practice to home z again after QGL
    {% endif %}

    G90  ; Absolute positioning

    # ---------- Compute bucket coordinates ----------
    {% set cy = brush_ref_y - (brush_depth / 2.0) %}
    {% if bucket_side|lower == "right" %}
        {% set bucket_x = brush_ref_x + brush_width + bucket_offset %}
    {% else %}
        {% set bucket_x = brush_ref_x - bucket_offset %}
    {% endif %}

    # ---------- Move nozzle above bucket ----------
    G1 Z{park_z} F{z_speed}
    G1 X{bucket_x} Y{cy} F{travel_speed}


[gcode_macro NOZZLE_CLEAN]
# Instructions: https://www.printables.com/model/796563-voron-24-silicone-nozzle-scrubber-w-sheet-stops-be
description: "Cleans the nozzle by flicking the filament off the nozzle before scrubbing."

gcode:
    # ---------- Define variables ----------
    {% set brush_ref_x = 237.0 %}       # X coordinate of top-left brush corner
    {% set brush_ref_y = 304.5 %}       # Y coordinate of top-left brush corner
    {% set brush_width = 35.0 %}        # Width of brush
    {% set brush_depth = 7.0 %}         # Depth of brush

    {% set bucket_side = "right" %}     # "right" or "left" relative to brush
    {% set bucket_offset = 10.0 %}      # Distance from brush to bucket

    {% set clean_z = 1.5 %}             # Z height to dip nozzle into brush. Adjust this so that the nozzle is sufficiently inside the brushes without causing the brush to shift.
    {% set exit_z_lift = 3.0 %}         # Z lift after cleaning

    {% set flick_count = 5 %}           # Number of flicks into bucket
    {% set flick_speed = 9000 %}        # Speed of flick movement (mm/min)
    {% set flick_depth = 3.0 %}         # Distance nozzle moves into brush
    {% set flick_dwell_ms = 20 %}       # Dwell time at deepest point (ms)
    {% set flick_return_mult = 1.5 %}   # Return speed multiplier to bucket
    {% set flick_z_dip = 0.5 %}         # Z dip into brush

    {% set scrub_passes = 5 %}          # Number of linear passes along brush
    {% set circles_per_pass = 2 %}      # Number of circular motions per pass
    {% set circle_radius = 2.0 %}       # Radius of each circular scrub
    {% set scrub_speed = 3000 %}        # Speed for circular scrub
    {% set alternate_direction = True %} # Alternate CW/CCW circles

    {% set travel_speed = 9000 %}       # XY travel speed (mm/min)
    {% set z_speed = 1500 %}            # Z-axis speed (mm/min)
    {% set do_qgl = False %}            # You should QGL in print_start.  Set to true if you plan on using this outside of print_start for safety. 


    # ---------- Safety checks. ----------
    {% if not printer.toolhead.homed_axes %}
        G28
    {% endif %}

    # Set do_qgl to false if using in print_start, otherwise you'll have multiple QGLs adding unnecessary delays to your print time.
    {% if do_qgl %}
        QUAD_GANTRY_LEVEL
        G28 Z ; good practice to home z again after QGL
    {% endif %}

    G90  ; Absolute positioning

    # ---------- Precompute useful values ----------
    {% set cx = brush_ref_x + (brush_width / 2.0) %}
    {% set cy = brush_ref_y - (brush_depth / 2.0) %}
    {% set usable_width = brush_width - (circle_radius * 2) %}

    {% if bucket_side|lower == "right" %}
        {% set bucket_x = brush_ref_x + brush_width + bucket_offset %}
        {% set flick_x = brush_ref_x + brush_width - flick_depth %}
    {% else %}
        {% set bucket_x = brush_ref_x - bucket_offset %}
        {% set flick_x = brush_ref_x + flick_depth %}
    {% endif %}

    {% if scrub_passes > 1 %}
        {% set step = usable_width / (scrub_passes - 1) %}
        {% set start_x = cx - (usable_width / 2) %}
    {% else %}
        {% set step = 0 %}
        {% set start_x = cx %}
    {% endif %}

    {% set dwell = flick_dwell_ms|int %}
    {% set return_speed = flick_speed * flick_return_mult %}

    # ---------- Move to park above bucket ----------
    G1 Z{clean_z} F{z_speed}
    G1 X{bucket_x} Y{cy} F{travel_speed}

    # ---------- Flick / Edge Wipe ----------
    {% for i in range(flick_count) %}
        G1 Z{clean_z - flick_z_dip} F{z_speed}   ; Dip into brush
        G1 X{flick_x} F{flick_speed}             ; Move into brush
        G4 P{dwell}                              ; Micro dwell
        G1 X{bucket_x} F{return_speed}           ; Snap back to bucket
        G1 Z{clean_z} F{z_speed}                 ; Restore Z
    {% endfor %}

    # ---------- Circular Scrub ----------
    {% for i in range(scrub_passes) %}
        {% set x_pos = start_x + (i * step) %}
        G1 X{x_pos} Y{cy} F{travel_speed}       ; Move to scrub position

        {% for j in range(circles_per_pass) %}
            {% if alternate_direction and ((i + j) % 2 == 1) %}
                G3 X{x_pos} Y{cy} I{circle_radius} J0 F{scrub_speed}  ; CCW circle
            {% else %}
                G2 X{x_pos} Y{cy} I{circle_radius} J0 F{scrub_speed}  ; CW circle
            {% endif %}
        {% endfor %}
    {% endfor %}

    # ---------- Exit / Lift ----------
    G1 Z{clean_z + exit_z_lift} F{travel_speed}