[include fluidd.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_200012001950534841313020-if00

[virtual_sdcard]
path: /home/raspberry/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000

[include shell_command.cfg]
